BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -8px 0px 0px -8px; BORDER-LEFT: 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffee
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000; TEXT-DECORATION: none
}
A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000; TEXT-DECORATION: none
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #993300; TEXT-DECORATION: none
}
A:hover {
	BACKGROUND: #ffcc00; COLOR: #000000; TEXT-DECORATION: none
}
A.brown:hover {
	BACKGROUND: #ffcc00; COLOR: #000000; TEXT-DECORATION: none
}
A.brown:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.brown:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; COLOR: black; FONT-FAMILY: Arial Narrow, 
    Helvetica Narrow, sans-serif
}
H3 {
	FONT-WEIGHT: bold; COLOR: black; FONT-FAMILY: Arial Narrow, 
    Helvetica Narrow, sans-serif
}
H4 {
	FONT-WEIGHT: bold; COLOR: black; FONT-FAMILY: Arial Narrow, 
    Helvetica Narrow, sans-serif
}
P {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
TR {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
THEAD {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
TFOOT {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
TH {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
TD {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
DL {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
OL {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
UL {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
BLOCKQUOTE {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
SPAN {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
BR {
	FONT-FAMILY: Arial, 	
	Helvetica, 	sans-serif
}
.teeny {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.icomtitle {
	FONT-SIZE: 12pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; LINE-HEIGHT: 0.1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.icomlink {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.siteNavHead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000033
}
.siteNavLink {
	FONT-SIZE: 9pt; COLOR: #000033
}
.siteNavTD {
	BACKGROUND-COLOR: #ffffcc
}
.gold {
	BACKGROUND-COLOR: #ffcc33
}
.Author {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Abstract {
	BORDER-RIGHT: #ffcc33 2px solid; BORDER-TOP: #ffcc33 2px solid; BORDER-LEFT: #ffcc33 2px solid; COLOR: #660000; BORDER-BOTTOM: #ffcc33 2px solid; BACKGROUND-COLOR: #eeeedd
}
PRE.Xmp {
	BORDER-RIGHT: black 2px solid; BORDER-TOP: black 2px solid; FONT-WEIGHT: bold; BACKGROUND: #eeeedd; MARGIN-LEFT: 1em; BORDER-LEFT: black 2px solid; WIDTH: auto; COLOR: black; MARGIN-RIGHT: 1em; BORDER-BOTTOM: black 2px solid; FONT-FAMILY: Courier, fixed, serif; WHITE-SPACE: pre; TEXT-ALIGN: left
}
PRE {
	BORDER-RIGHT: black 2px solid; BORDER-TOP: black 2px solid; FONT-WEIGHT: bold; BACKGROUND: #eeeedd; MARGIN-LEFT: 1em; BORDER-LEFT: black 2px solid; WIDTH: auto; COLOR: black; MARGIN-RIGHT: 1em; BORDER-BOTTOM: black 2px solid; FONT-FAMILY: Courier, fixed, serif; WHITE-SPACE: pre; TEXT-ALIGN: left
}
PRE.xmp EM {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000; FONT-STYLE: normal
}
CODE {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #a00000
}
DIV.example {
	BORDER-RIGHT: #003000 2px solid; BORDER-TOP: #003000 2px solid; MARGIN-LEFT: 2em; BORDER-LEFT: #003000 2px solid; MARGIN-RIGHT: 2em; BORDER-BOTTOM: #003000 2px solid
}
TH.LuT A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000
}
TH.LuT {
	BACKGROUND: #ffcc33; COLOR: #000000
}
TD.LuT A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff0000
}
TD.LuT {
	BACKGROUND: #eeeedd; COLOR: #000000
}
TH.Info {
	FONT-SIZE: 10pt; BACKGROUND: #ffffcc; COLOR: #660000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.Info {
	FONT-SIZE: 10pt; BACKGROUND: #ffffcc; COLOR: #660000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH.Info A {
	BACKGROUND: white; COLOR: #ff6600
}
TD.Info A {
	BACKGROUND: white; COLOR: #ff6600
}
DIV.Info {
	BORDER-RIGHT: blue; PADDING-RIGHT: 1%; BORDER-TOP: blue; PADDING-LEFT: 1%; FONT-SIZE: 10pt; BACKGROUND: #ffffcc; PADDING-BOTTOM: 1%; BORDER-LEFT: blue; COLOR: #990033; PADDING-TOP: 1%; BORDER-BOTTOM: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
P.Info {
	BORDER-RIGHT: blue; PADDING-RIGHT: 1%; BORDER-TOP: blue; PADDING-LEFT: 1%; FONT-SIZE: 10pt; BACKGROUND: #ffffcc; PADDING-BOTTOM: 1%; BORDER-LEFT: blue; COLOR: #990033; PADDING-TOP: 1%; BORDER-BOTTOM: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
DIV.Info A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600
}
.HL {
	BACKGROUND: #ffff99; COLOR: #000000
}
TD.HL {
	BACKGROUND: #ccffff; COLOR: #000000
}
.Type {
	BACKGROUND: #cccccc; COLOR: #660000
}
.Name {
	BACKGROUND: #eeeeee; VERTICAL-ALIGN: top; COLOR: #660000; TEXT-ALIGN: right
}
.Value {
	BACKGROUND: #eeeeee; COLOR: #000066
}
.Drop {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; BACKGROUND: #333366; COLOR: #ffcc33; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.Button:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600
}
A.Button {
	BACKGROUND: #ffcc33; COLOR: #003366; TEXT-DECORATION: none
}
.Button {
	BORDER-RIGHT: #cc9933 2px solid; BORDER-TOP: #ffff99 2px solid; BACKGROUND: #ffcc33; BORDER-LEFT: #ffff99 2px solid; COLOR: #003366; BORDER-BOTTOM: #cc9933 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TH.Banner {
	BACKGROUND: #ffcc33; COLOR: black
}
.Banner {
	BORDER-RIGHT: #cc9933 4px solid; BORDER-TOP: #ffff99 4px solid; BACKGROUND: #ffcc33; MARGIN-LEFT: 0px; BORDER-LEFT: #ffff99 4px solid; COLOR: #003366; BORDER-BOTTOM: #cc9933 4px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TH.Nav {
	BACKGROUND: #0000cc; COLOR: #ff9900
}
TH.Menu {
	BACKGROUND: #3366cc; COLOR: #ff9900
}
A.Menu:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600
}
A.HoMe:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ff6600
}
A.Menu {
	FONT-SIZE: smaller; BACKGROUND: white; COLOR: #ffcc33; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.HoMe {
	BACKGROUND: white; COLOR: #ffcc33; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.PUN {
	BACKGROUND: gold; COLOR: green; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.navb {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.filler {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.lbctop {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.hdr {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #cccc99; COLOR: #660000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
